<h1>予約内容の確認</h1>

<%= form_with model:@reservation do |f| %>

  <tr>チェックイン</tr>
  <td><%= @reservation.start_date.to_date %></td>
  <td><%= f.hidden_field :start_date %></td>
  <br>
  <tr>チェックアウト</tr>
  <td><%= @reservation.end_date.to_date %></td>
  <td><%= f.hidden_field :end_date %></td>
  <br>
  <tr>人数</tr>
  <td><%= @reservation.how_many_people %>人</td>
  <td><%= f.hidden_field :how_many_people %></td>
  <br>
  <tr>宿泊日数</tr>
  <td><%= @reservation.total_days %></td> 
  <td><%= f.hidden_field :total_days %>日</td>
  <br>
  <tr>合計金額</tr>
  <td>¥<%= @reservation.total_price %></td>
  <td><%= f.hidden_field :total_price %></td>
  <br>
  <td><%= f.hidden_field :image.to_s %></td>
  <td><%= f.hidden_field :facility_name %></td>
  <td><%= f.hidden_field :detail %></td>
  <td><%= f.hidden_field :room_id %></td>

  上記内容で正しければ「確定」ボタンを押してください。
  <br>
  <%= f.submit "確定" %>
  <br>
  <%= link_to "キャンセル", rooms_path %> 
<% end %>
