<%= link_to "戻る", :back %>
    <tbody>
        <tr>
            <td><%= image_tag @room.image.to_s %></td>
        </tr>

        <tr>
            <th><%= @room.facility_name %></th>
            <td>¥<%= @room.price %></td>
            <td><%= @room.address %></td>
            <td><%= @room.detail %></td>
        </tr>
    </tbody>

    <%= form_with model:@reservation, method: :post, url:reservations_confirm_path do |f| %>
        <%= render 'rooms/shared/room_reservation_error', model: f.object %>
        <table>
            <th><%= f.label :start_date,"チェックイン" %></th>
            <td><%= f.date_field :start_date %></td>
            <th><%= f.label :end_date,"チェックアウト"%></th>
            <td><%= f.date_field :end_date %></td>
            <th><%= f.label :how_many_people,"人数"%></th>
            <td><%= f.number_field :how_many_people %></td>
            <td><%= f.hidden_field :image.to_s, value: @room.image.to_s %></td>
            <td><%= f.hidden_field :room_id, value: @room.id %></td>
            <td><%= f.hidden_field :price, value: @room.price %></td>
            <td><%= f.hidden_field :facility_name, value:@room.facility_name %></td>
            <td><%= f.hidden_field :detail, value:@room.detail %></td>
            <td><%= f.hidden_field :user_id, value: current_user.id %></td>
            <td><%= f.submit "予約する" %></td>
        </table>
    <% end %>


